.body {
    background-color: #f7f7ff;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 600px) {

.boss {
    font-size: 120px;
    margin: 0%;
    padding-left: 10%;
}

.start {
    font-size: 270%;
    margin: 0%;
    font-weight: lighter;
    padding-left: 10%;
}

.scooter {
    max-width: 90%;
    height: auto;
    padding: 10%;
    margin: 0%;
}

.Logo {
    width: 200px;

}

/**** .mainform {
    border-radius: 10%;
    background: lightblue;
    padding: 1%;
    width: 70%;
    height: 50%;
    text-align: left;
    box-shadow:none;
}
***/
.mainform{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: 0%;
  border-radius: 40px;
  padding: 1.8%;
  text-align: left;
  box-sizing: border-box;
  background: #f7f7ff;
  box-shadow: 14px 18px 20px #cbced1, -14px -14px 20px white;
}
h3 {
    font-size: 450%;
    margin: 0%;
}
.form{
    font-size: 50%;
}
}


